.hello__occupation {
  font-size: 16px;
  line-height: 1.69;
  color: #FFBB01;
  margin: 17px 0 0;
}

@media screen and (min-width: 768px)
{
  .hello__occupation {
    margin-top: 0;
    font-size: 24px;
    line-height: 1.17;
  }
}
