.hello__picture {
  width: 107px;
  height: 107px;
  border-radius: 100%;
  border: 3px solid #fff;
}

@media screen and (min-width: 768px)
{
  .hello__picture {
    order: 2;
    width: 250px;
    height: 250px;
    border-width: 11px;
    width: 40.8%;
    max-width: 384px;
    box-sizing: border-box;
    height: auto;
  }
}
