.hello__text {
  font-size: 14px;
  line-height: 1.4;
  margin: 15px 0 0;
  max-width: 267px;
}

@media screen and (min-width: 768px)
{
  .hello__text {
    font-size: 16px;
    line-height: 1.75;
    margin-top: 20px;
    max-width: 444px;
    padding-right: 30px;
    box-sizing: border-box;
  }
}
