.projects__title {
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  margin: 0 auto;
  width: 944px;
  padding-bottom: 54px;
}

@media screen and (max-width: 767px) {
  .projects__title {
    font-size: 19px;
    width: 267px;
    padding-bottom: 35px;

  }
}
