.advantages__subtitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 1.56;
  margin: 0 0 6px;
}

@media screen and (min-width: 992px) {
  .advantages__subtitle {
    font-size: 24px;
    line-height: 1.17;
    margin-bottom: 17px;
  }
}
