.projects__card {
  padding-top: 100%;
  position: relative;
  margin-top: 35px;
}

@media screen and (min-width: 576px) {
  .projects__card {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .projects__card {
    margin-top: 54px;
  }
}
