.footer__heading {
  font-weight: bold;
  font-size: 19px;
  line-height: 1.15;
  text-align: center;
  margin-bottom: 60px;
  width: 100%;
}

@media screen and (min-width: 768px)
{
  .footer__heading {
    font-size: 25px;
    text-align: left;
  }
}

@media screen and (min-width: 992px)
{
  .footer__heading {
    font-size: 36px;
    line-height: 1.17;
  }
}
